.nav-link{
    
    h3 a{
        color: #0c2231;
        text-decoration: underline;
        font-size: 1.5rem;
    }
    h3 a:hover{
        color: #305f7f;
    }

    p{
        text-align: left;
    }
    h4{
        text-align: left;
        font-size: 1.5625rem;
        font-style: italic;
        color: #111150;
    }
    h5{
        text-align: right;
        color: #111150;
    }
        em{
        font-style: normal bold;
        color: #2f2f42;
        text-decoration-color: #2f2f42;
        font-size: 1.3125rem; 
        text-decoration: underline;
        }
        em:hover{
        color:#5b5b69;
    }
}

    html[data-theme="dark"] .nav-link {
        h3{
    color: #e6e6ea;
        }
        h4{
    color: #e6e6ea
        }
        h3 a{
            color: #e6e6ea;
        }
        h3 a:hover{
            color:#4e6da0;
        }
        em{
            color:#e6e6ea;
        }
        em:hover{
            color: #4e6da0;
        }
    }