

/* Dropdown content styling */
.dropdown-content {
    padding: 20px;
    margin: 10px 0;
}

.nav-link {
    margin-bottom: 20px;
}

#navigation .nav-link > div {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Restore bullet points for lists in dropdown content */
.nav-link .dropdown-content ul,
#navigation .nav-link .dropdown-content ul,
#navigation .nav-link div ul {
    list-style: disc !important;
    margin-left: 20px;
    padding-left: 20px;
}

.nav-link .dropdown-content ul ul,
#navigation .nav-link .dropdown-content ul ul,
#navigation .nav-link div ul ul {
    list-style: circle !important;
    margin-left: 20px;
}

.nav-link .dropdown-content ul ul ul,
#navigation .nav-link .dropdown-content ul ul ul,
#navigation .nav-link div ul ul ul {
    list-style: square !important;
    margin-left: 20px;
}

/* Professional work page right alignment */
body:has(#navigation) {
    display: flex;
    justify-content: flex-end;
}

#navigation {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: 85px;
    padding-right: 0;
}

@media (min-width: 1400px) {
    #navigation {
        margin-right: 85px;
        max-width: 60%;
    }
}

html[data-theme="dark"] {
	.nav-link h3{
		color: #e7eaf0;
		font-size: 26px;
	}
	.nav-link h3 {
		a{
		color: #e7eaf0;
	}
		a:hover{
		color: #7690c3;
	}
	}
	.nav-link h2{
		color: #e7eaf0;
		text-align: left;
	}	
	.nav-link h2:hover{
		color: #b7cbf4;
	}

}



h5{
    font-size: 16.5px;
    font-style: normal;
}
.contact h3{
	text-align: center;
}

#navigation .nav-link div ul h4{
	font-size: 20px;
}

* {
	margin: 0;
	padding: 0;
	font-family: Unna;
}

body {
	min-height: 100vh;
	display: grid;
	place-items: center;
	background: var(--bgcolor);
	color:rgb(2, 0, 36);
	text-align: left;
}
ul {
	list-style: none;
}
.nav-link {
	h2 {
	font-size: 2rem;
	text-transform: none;
	transition: all 300ms ease;
	width: fit-content;
	cursor: pointer;
	font-style: normal;
}
	h2:hover {
	transform: skew(13deg);
	color:#203f6a;
}
	h3{
	font-size: 26px;
		a{
			color: #03033b;
		}
		a:hover{
			color: #343476;
		}
}
	p{
		text-align: left;;
	}
}

/* h1::after {
	content: "";
	height: 2px;
	width: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 300ms ease;
} */